* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  background: #e98ead;
  font-family: Arial, sans-serif;
}

.container {
  width: 30%;
  background-color: #fff;
  text-align: center;
  margin: 150px auto;
  padding: 20px;
  border-radius: 121px;
}

img {
  width: 70%;
  height: auto;
  margin-bottom: 25px;
}


